/* <--- this is the opening of a comment

selector {
property: value;
}

this is the closing of a comment ---> */

body {
    background-color: #fff2dd;
}

h1 {
    color: #ff4c4c;
    font-family: cursive;
    font-size: 50px;
    text-align: center;
}

p {
    color: #ff4c4c;
    font-family: cursive;
    font-size: 30px;
    text-align: center;
}

#wow-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}