/* <--- this is the opening of a comment

selector {
property: value;
}

this is the closing of a comment ---> */

h1 {
    text-align: center;
    color: #ae9584;
    font-size: 75px;
}
footer {
    text-align: center;
    color: #b9649f;
    font-family: Comfortaa, sans-serif;
}